<div class="iphone">
    <div class="screen">
        <header>
         <a>23:12</a>
         <a>dynamic</a>
         <a>100</a>
        </header>
        <navbar>
            <b>logo</b>
            <b>navbar</b>
        </navbar>
    </div>
</div>
<style>
    header{
        height: 20px;
        background: blue;
        width: 280px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    a{
        margin-left: 10px;
    } 
    a:nth-child(2){
        margin-left: 60px;
    }
    a:nth-child(3){
        margin-left: 65px;
    }
    navbar{
      
        background-color: white;
    }
    b:nth-child(2)
    {
        margin-left: 189px;
    }
    .iphone{
        margin: auto;
        border: 10px solid black;
        border-radius: 40px;
        width: 300px;
        height: 600px;
        position: relative;
        box-shadow: 0px 20px 15px #33333335;
    }
    .screen{
        z-index: 10;
        position: absolute;
        background: #333;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
</style>