---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Trang Chủ",
    path: "/",
  },
  {
    title: "Việc làm",
    path: "#",
    children: [
      { title: "Đã Có kinh Nghiệm", path: "/viec-lam" },
      { title: "Mới Tốt Nghiệp", path: "#" },
      { title: "Thực Tập", path: "#" },
    ],
  },
  {
    title: "Lí Do chọn Công Ty",
    path: "#",
    children: [
      { title: "Dịch vụ - Đối tác ", path: "/dich-vu-doi-tac" },
      {
        title: "Môi trường làm việc chuyên nghiệp",
        path: "/moi-truong-lam-viec",
      },
      { title: "Cơ hội đào tạo và phát triển sự nghiệp", path: "#" },
      { title: "Phúc lợi và thu nhập cạnh tranh", path: "#" },
      { title: "Hoạt động ngoại khóa phong phú", path: "#" },
    ],
  },
  {
    title: "Tin Tức",
    path: "/blog",
  },

  {
    title: "Thông tin công ty",
    path: "/thong-tin-cong-ty",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center">
          <img src="/tw.png" class="h-6 mr-3 sm:h-10" alt="TailWind Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">TailWind</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          <li>
            
          </li>
          {
            menuitems.map((item, index) => (
              <>
                <div class="body">
                  {item.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}
                </div>
                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-gray-300">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
          <li>
            <button id="theme-toggle" type="button" class="text-gray-500 bg-gray-600 dark:text-gray-400 dark:bg-slate-200 hover:bg-gray-500 dark:hover:bg-white focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
              <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="white" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
              <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="black" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          </button>
          
        </li>
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
<style>
  .body {
    z-index: 1;
  }
</style>
