---
import { Icon } from "astro-icon";
import Slider from "./slider.astro";
---

<section class="hero-section__section bg-slate-300 rounded-lg dark:bg-gray-800">
  <div class="hero-section__text text-xl text-center  p-10">
    <div id="particles-js" ></div>
    <h1 class="text-2xl font-bold dark:text-gray-300">TailWind</h1>
    <p>
      
    </p>
    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
      <div class="rounded-md shadow">
        <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-blue-800 px-8 py-3 text-base font-medium text-white hover:bg-gray-500 dark:bg-gray-500 dark:hover:bg-black">Get started</a>
      </div>
      <div class="mt-3 sm:mt-0 sm:ml-3">
        <a href="#" class="flex w-full items-center justify-center rounded-md border border-transparent bg-blue-800 px-8 py-3 text-base font-medium text-primary-700 hover:bg-gray-500 dark:bg-gray-500 dark:hover:bg-black dark:text-blue-800">Live demo</a>
      </div>
    </div>
    <div class="hero-btns__container"></div>
  </div>
  <div class="hero-section__image pl-6 pt-10 pb-10">
    <Slider />
  </div>
</section>

<style>
  .hero-section__section {

    margin: var(--section-margin) auto;
    min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .hero-section__text {
    justify-self: center;
    max-width: 25rem;
  }
  .hero-btns__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .hero-btns__container {
    margin-right: 1rem;
  }
  .hero-section__image {
    display: flex;
  }
  .hero-section__image img {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    object-fit: cover;
    border-radius: var(--theme-shape-radius);
  }
  @media (max-width: 768px) {
    .hero-section__section {
      grid-template-columns: 1fr;
    }
  }
  #particles-js{
    height: 150%;
    width: 103%;
   
  }
</style>
<script type="text/javascript" src="/particles.js"></script>
<script type="text/javascript" src="/app.js"></script>