
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 :text-gray-400 ">
        <thead class="text-xs text-gray-700 uppercase :text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Product name
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-500 dark:text-black">
                    Color
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Category
                </th>
                <th scope="col" class="px-6 py-3 dark:bg-gray-500 dark:text-black">
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b border-gray-200 :border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 :text-white :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Apple MacBook Pro 17"
                </th>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    Sliver
                </td>
                <td class="px-6 py-4 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Laptop
                </td>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    $2999
                </td>
            </tr>
            <tr class="border-b border-gray-200 :border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 :text-white :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Microsoft Surface Pro
                </th>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    White
                </td>
                <td class="px-6 py-4 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Laptop PC
                </td>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    $1999
                </td>
            </tr>
            <tr class="border-b border-gray-200 :border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 :text-white :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Magic Mouse 2
                </th>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    Black
                </td>
                <td class="px-6 py-4 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Accessories
                </td>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    $99
                </td>
            </tr>
            <tr class="border-b border-gray-200 :border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 :text-white :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Google Pixel Phone
                </th>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    Gray
                </td>
                <td class="px-6 py-4 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Phone
                </td>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    $799
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 :text-white :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Apple Watch 5
                </th>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    Red
                </td>
                <td class="px-6 py-4 bg-gray-50 :bg-gray-800 dark:bg-gray-900 dark:text-white">
                    Wearables
                </td>
                <td class="px-6 py-4 dark:bg-gray-500 dark:text-black">
                    $999
                </td>
            </tr>
        </tbody>
    </table>
</div>
