<h1
  class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
  Cà Phê NUBI
</h1>
<p class="text-lg mt-4 text-slate-600 max-w-xl">
  Astroship is a starter template for startups, marketing websites & landing
  pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create any
  website with this starter.
</p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
  <a
    href="/contact"
    rel="noopener"
    class=" button rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"
    ><svg
      viewBox="0 0 24 24"
      class="text-white w-5 h-5"
      astro-icon="bx:bxs-cloud-download"
      ><path
        fill="currentColor"
        d="M18.944 11.112C18.507 7.67 15.56 5 12 5 9.244 5 6.85 6.61 5.757 9.149 3.609 9.792 2 11.82 2 14c0 2.657 2.089 4.815 4.708 4.971V19H17.99v-.003L18 19c2.206 0 4-1.794 4-4a4.008 4.008 0 0 0-3.056-3.888zM8 12h3V9h2v3h3l-4 5-4-5z"
      ></path></svg
    >

    Liện Hệ tôi
  </a>
</div>
<style>
  .button {
    z-index: 1;
  }
</style>
