<section class="mb-32 mt-20">
  <div class="container">
    <h2 class="text-6xl mb-16">Counters</h2><div
      class="grid grid-cols-1 gap-12 md:grid-cols-4 sm:grid-cols-2">
      <div class="astro-X63RDSGB animate text-center">
        <p class="astro-X63RDSGB font-bold text-6xl">130</p><p
          class="astro-X63RDSGB font-semibold text-4xl">
          Stars
        </p><p class="astro-X63RDSGB text-2xl">On GitHub</p>
      </div><div class="astro-X63RDSGB animate text-center">
        <p class="astro-X63RDSGB font-bold text-6xl">17</p><p
          class="astro-X63RDSGB font-semibold text-4xl">
          Accessible
        </p><p class="astro-X63RDSGB text-2xl">Components</p>
      </div><div class="astro-X63RDSGB animate text-center">
        <p class="astro-X63RDSGB font-bold text-6xl">500</p><p
          class="astro-X63RDSGB font-semibold text-4xl">
          Commits
        </p><p class="astro-X63RDSGB text-2xl">Merged</p>
      </div><div class="astro-X63RDSGB animate text-center">
        <p class="astro-X63RDSGB font-bold text-6xl">18+</p><p
          class="astro-X63RDSGB font-semibold text-4xl">
          Months
        </p><p class="astro-X63RDSGB text-2xl">Since launch</p>
      </div>
    </div>
  </div>
</section>
